@import "../../../.config/waybar/colors.css";

* {
    font-family: "Google Sans Flex", "JetBrains Mono Nerd Font Propo";
    padding: 0 0 0 0;
    margin: 0 0 2 0;
    font-size: 17px;
    font-weight: 700;
}

window#waybar {
    background: @surface_container_low;
}

tooltip {
    background: @surface_container;
    border: none;
    border-radius: 12px;
}

tooltip label {
    color: @on_surface;
    padding: 6px;
}

#workspaces {
    border-radius: 5px;
    padding: 0px 0 0 0px;
    margin: 4 5 0 5px;
    border: none;
    color: @on_surface;
    background-color: @primary_container;
}

#workspaces button {
    padding: 1px 0 0 1px;
    margin: 0 0 0 0px;
    color: @on_primary_container;
    border-radius: 5px;
    font-size: 17px;
    min-width: 30px;
}

#workspaces button.active {
    padding: 1px 0 0 1px;
    margin: 0 0 0 0px;
    background-color: @primary;
    color: @on_primary;
    min-width: 30px;
    transition: all 0.1s ease-in-out;
    font-size: 17px;
}

#workspaces button:hover {
    background-color: @tertiary;
    color: @on_tertiary;
    border-radius: 5px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
    border-radius: 5px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#tray,
#custom-todo,
#custom-keyboard,
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    color: @on_surface;
    padding: 0 10px 0 10px;
    margin: 3 5 0 5px;
    border-radius: 5px;
    border: none;
}

#clock {
    background-color: @secondary_container;
    color: @on_secondary_container;
}

#custom-keyboard {
    background-color: @surface_container_high;
    padding: 0 10px;
    color: @on_surface;
    transition: all 300ms cubic-bezier(.55, 0, .28, 1);
}

#custom-keyboard.enabled {
    color: @green;
    border-radius: 6px;
}

#custom-keyboard.disabled {
    color: @error;
    background-color: @surface_container;
    border-radius: 5px;
}

#custom-todo {
    color: @on_tertiary_container;
    background-color: @tertiary_container;
}

#custom-todo.pending {
    background-color: @error_container;
    color: @on_error_container;
}

#pulseaudio {
    background-color: @secondary_container;
    color: @on_secondary_container;
    border-radius: 5px;
}

#network {
    background-color: @tertiary_container;
    color: @on_tertiary_container;
}

#battery {
    background-color: @primary_container;
    color: @on_primary_container;
}

#battery.charging {
    color: @green;
}

#custom-notification {
    background-color: @surface_container_highest;
    color: @on_surface;
}

#tray {
    background-color: @surface_container_high;
    border-radius: 5px;
}