@import "../../../.config/waybar/colors.css";

* {
    all: unset;
    font-family: "Google Sans Flex", "JetBrains Mono Nerd Font Propo";
}

tooltip {
    background-color: @surface_container;
    color: @on_surface;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.modules-center {
    background-color: @surface_container;
    color: @on_surface;
    padding: 4px 18px;
    border-radius: 99px;
}

#clock {
    font-weight: 600;
}

#workspaces {
    background-color: @surface_container_high;
    padding: 2px 4px;
    margin: 3px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @surface_container_highest;
    padding: 0px 5px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 0.3s ease-in-out;
    min-width: 7px;
}

#workspaces button.empty {
    color: @outline;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    min-width: 1.5rem;
    font-weight: 600;
    transition: none;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

#battery.charging {
    background-color: @green_container;
    color: @on_green_container;
}

#battery {
    background-color: @primary;
    margin: 6px 0;
    padding: 0 8px;
    border-radius: 99px;
    font-weight: 600;
    color: @on_primary;
    letter-spacing: 0.5px;
}

#battery.warning {
    background-color: @yellow_container;
    color: @on_yellow_container;
}

#battery.critical {
    background-color: @error;
    color: @on_error;
}

#custom-keyboard.enabled {
    color: @green;
}

#custom-keyboard.disabled {
    border-radius: 20px;
    color: @error;
}