@import "../../../.cache/wal/colors-waybar.css";
@import "../../../.config/waybar/colors.css";
@import "../../../.config/waybar/colors/one-dark.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Google Sans Flex", "JetBrains Mono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @surface_container;
    border: 1px solid @outline_variant;
    border-radius: 12px;
}

tooltip label {
    color: @on_surface;
    padding: 6px;
}

#workspaces {
    background-color: @surface_container;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @outline_variant;
    color: @on_surface;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @surface_container_high;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @tertiary;
    color: @on_tertiary;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-arch-logo,
#custom-todo,
#custom-keyboard,
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @surface_container;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @outline_variant;
}

#custom-arch-logo {
    color: @primary;
    font-size: 23px;
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    color: @secondary;
}

#custom-notification {
    color: @on_surface;
    padding: 0 15px 0 15px;
    margin: 0 12px 0 0px;
    border-radius: 50px;
    border: 1px solid @outline_variant;
}

#pulseaudio {
    color: @primary;
}

#network {
    color: @secondary;
}

#battery {
    margin: 0 12px 0 12px;
    color: @tertiary;
}

#battery.charging {
    color: @green;
}

#custom-keyboard {
    padding: 0 10px;
    color: @on_surface;
    transition: all 300ms cubic-bezier(.55, 0, .28, 1);
}

#custom-keyboard.enabled {
    color: @green;
    border-radius: 4px;
}

#custom-keyboard.disabled {
    color: @error;
    border-radius: 20px;
}

#custom-todo {
    color: @primary;
}

#custom-todo.pending {
    color: @tertiary;
    min-width: 50px;
    padding: 0 20px;
}